
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<title>Car Details App - About</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
<h1>About Car Details App</h1>
<p>
This application provides information about cars in India. You can search for a specific car model and fuel type to get details such as price, mileage, and fuel efficiency.
</p>
<p>
This application is developed for educational purposes. It is not intended for commercial use.
</p>
</body>

</html>



